<div class="panel panel-primary hotel"> 
    <div class="hotel-card">
        <div class="thumb">
            <img src="{{hotelThumb}}" />
        </div>

        <div class="description">
            <h2>
                <span class="name">{{hotelName}}</span>
                <div class="rating">
                    <hotel-rating hotel-ratings="{{hotelRating}}"></hotel-rating>
                </div>
            </h2>
            <small class="location">{{hotelCity}} - {{hotelCountry}}</small>
            <p>{{hotelDescription | limitTo: 200}}</p>
            <div class="hotel-footer">
                <button class="btn btn-secondary btn-review" ng-click="hotelReviews({id: hotelId});showReviews = !showReviews; ">{{!showReviews && 'Show' || 'Hide'}} Reviews <i ng-show="!hotelsReviews[hotelId] && showReviews" class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i></button>
                <div class="price">
                    <big>{{hotelPrice}} &euro;</big>
                    <small>{{hotelDateStart  | date: dateFormat}} - {{hotelDateEnd | date: dateFormat}}</small>
                </div>
            </div>
            
        </div>
    </div>     
    <div class="hotel-reviews" ng-if="showReviews && hotelsReviews[hotelId]">
        <div ng-if="hotelsReviews[hotelId].length < 1">Oops, this is embarrassing. Could not load reviews. Hide and try again.</div>
        <hotel-reviews ng-repeat="review in hotelsReviews[hotelId]" review-name="{{review.name}}" review-comment="{{review.comment}}" review-positive="review.positive"></hotel-reviews>
    </div>
</div>